.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.cont-flex {
    align-items: flex-end;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 15% auto;
  width: 300px;
  border-radius: 8px;
}