<div class="container">
      <div class="card text-bg-dark">
          <img src="../public/images/1920_733.jpeg" class="card-img" alt="...">
          <div class="card-img-overlay ">
              <h5 class="card-title">Card title</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card text-bg-dark">
            <img src="../public/images/1920_733.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay ">
                <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
          <div class="col-4">
            <div class="card text-bg-dark">
            <img src="../public/images/1920_733.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay ">
                <h5 class="card-title">Card title</h5>
            </div>
          </div>
            </div>
            <div class="col-4">
              <div class="card text-bg-dark">
                <img src="../public/images/1920_733.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay ">
                    <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
        </div>
    </div>